:root {
  --main-color: #0F0F0F;
  --blue-color: #3ea6ff;
  --hover-blue-color: #263850;
  --transparent-background: #ffffff14;
  --hover-gray-color: #ffffff1a;
  --border-color: hsl(0, 0%, 18.82%);
  --main-transition: 0.3s;
}

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-scroll-behaviour: smooth;
  -moz-scroll-behaviour: smooth;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* End Global Rules */
/* Start Components */
.tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(text-data);
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  display: none;
  background-color: #222222;
  padding: 10px;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  transform: translateX(-50%);
}

.tooltip:hover::before {
  display: block;
}

/* End Components */
/* Start Header */
header {
  width: 100%;
  min-height: 59px;
  padding: 5px 20px;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

header nav .nav-left .icon {
  font-size: 32px;
  color: white;
  border-radius: 50%;
  padding: 6px;
}

header nav .nav-left .icon:hover {
  background-color: var(--hover-gray-color);
}

header nav .nav-left a img {
  width: 150px;
  height: 49px;
}

@media (max-width: 767px) {
  header nav .nav-left a img {
    width: 100px;
  }
}

header nav .nav-left a span {
  top: 7px;
  right: 2px;
  font-size: 10px;
  color: #AAA;
}


@media (min-width: 768px) {
  header nav .nav-mid {
    flex-grow: 0.3;
  }
}

@media (max-width: 767px) {
  header nav .nav-mid {
    margin-left: auto;
  }
}

header nav .nav-mid form a.search-mobile {
  height: 39px;
  width: 39px;
  border-radius: 50%;
  display: none;
}

header nav .nav-mid form a.search-mobile:hover {
  background-color: var(--transparent-background);
}

@media (max-width: 767px) {
  header nav .nav-mid form a.search-mobile {
    display: flex;
  }
}

header nav .nav-mid form a.search-mobile .icon {
  font-size: 25px;
  color: white;

}


header nav .nav-mid form>div {
  display: none;
}

@media (min-width: 768px) {
  header nav .nav-mid form>div {
    display: flex;
    flex-grow: 1;
  }
}

header nav .nav-mid form>div>.icon {
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 22px;
  color: white;
}

header nav .nav-mid form>div input[type="search"] {
  padding: 10px 0;
  padding-left: 52px;
  padding-right: 6px;
  border-radius: 20px 0 0 20px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-right: none;
  caret-color: white;
  color: white;
}

header nav .nav-mid form>div input[type="search"]:focus {
  outline: 1px solid var(--blue-color);
  border: transparent;
}

header nav .nav-mid form>div input[type="search"]::placeholder {
  color: #666;
}

header nav .nav-mid form .search-button {
  width: 60px;
  align-self: stretch;
  border: 1px solid var(--border-color);
  background-color: #222222;
  border-radius: 0 20px 20px 0;
}

header nav .nav-mid form .search-button .icon {
  font-size: 25px;
  color: white;
}

header nav .nav-mid form .search-voice {
  height: 39px;
  width: 39px;
  border-radius: 50%;
  background-color: #181818;
}


@media (min-width: 768px) {
  header nav .nav-mid form .search-voice:hover {
    background-color: var(--hover-gray-color);
  }
}

@media (max-width: 767px) {
  header nav .nav-mid form .search-voice {
    border-radius: 0;
  }

  header nav .nav-mid form .search-voice .icon:hover {
    border: transparent;
    background-color: var(--hover-gray-color);
    border-radius: 50%;
    padding: 6px;
  }
}

header nav .nav-mid form .search-voice .icon {
  font-size: 25px;
  color: white;
}

header nav .nav-right {
  margin-left: 10px;
}

header nav .nav-right>.icon {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

header nav .nav-right .sign-in {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 5px 20px;
  color: var(--blue-color);
  transition: var(--main-transition);
}

header nav .nav-right .sign-in:hover {
  background-color: var(--hover-blue-color);
}

header nav .nav-right .sign-in span {
  white-space: nowrap;
}

@media (max-width: 767px) {
  header nav .nav-right .sign-in span {
    display: none;
  }

}

header nav .nav-right .sign-in .icon {
  border: 1px solid var(--blue-color);
  border-radius: 50%;
  font-size: 23px;
}

/* End Header */
/* Start aside */
aside {
  position: fixed;
  left: 0;
  color: white;
  width: 82px;
  top: 59px;
  height: calc(100vh - 59px);
  overflow-y: auto;
  overflow-x: hidden;
}

aside::-webkit-scrollbar {
  display: none;
}

aside ul {
  background-color: var(--main-color);
  padding: 0 3px;
}



aside li a {
  padding: 20px 0;
  color: white;
  font-size: 10px;
  border-radius: 10px;

}

aside li a:hover {
  background-color: var(--hover-gray-color);
}

aside li a .icon {
  font-size: 26px;
  margin-bottom: 5px;
}

/* End aside */
/* Start Filters */
.filters {
  position: fixed;
  left: 82px;
  top: 59px;
  width: calc(100% - 82px);
  height: 50px;
  padding: 5px 10px;
  background-color: var(--main-color);
  z-index: 1;
}

.filters>.icon {
  color: white;
  cursor: pointer;
}

.filters .filter-options {
  overflow-y: hidden;
  overflow-x: auto;
}

.filters .filter-options::-webkit-scrollbar {
  display: none;
}

.filters .filter-options a {
  padding: 6px;
  color: white;
  border: 1px solid var(--border-color);
  background-color: #ffffff1a;
  border-radius: 5px;
  flex-shrink: 0;
  transition: var(--main-transition);
}

.filters .filter-options a.active {
  background-color: white;
  color: black;
}

.filters .filter-options a:not(.active):hover {
  background-color: #ffffff2a;

}

/* End Filters */
/* Start Video Container */
.video-container {
  margin-top: calc(50px + 59px);
  margin-left: 82px;
  width: calc(100% - 82px);
  padding: 20px;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px 15px;
}

@media (max-width: 767px) {
  .video-container {
    grid-template-columns: minmax(200px, 1fr);
  }
}

.video-container .video {
  background-color: var(--main-color);
}

.video-container .video .thumbnail {
  border-radius: 6px;
  overflow: hidden;
}

.video-container .video .thumbnail img {
  max-width: 100%;
}

.video-container .video .thumbnail .video-time {
  background-color: var(--main-color);
  color: white;
  bottom: 3px;
  right: 4px;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
}

.video-container .video .video-info {
  padding: 5px;
}

.video-container .video .video-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.video-container .video .video-info .text .video-title {
  color: white;
  font-weight: 500;
  max-width: 268px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.video-container .video .video-info .text>span {
  margin-bottom: 2px;
}

.video-container .video .video-info .text>span .icon {
  color: #aaa;
}

.video-container .video .video-info .text>div .views,
.video-container .video .video-info .text>div .video-date,
.video-container .video .video-info .text>span {
  color: #aaa;
}

.video-container .video .video-info .text>div .video-date::before {
  content: "•";
  margin: 0 3px;
}

/* Start End Container */
/* Start main */
/* main {
  margin-top: 59px;
  margin-left: 82px;
  height: calc(100vh - 59px);
  width: 100%;
  position: fixed;
} */
/* End main */